*{
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: white;
}
.liMenu {
    text-decoration: none;
    color: white;
}
ul{
       list-style:none;
}
.sidebarMax{
    /*width: 200px;*/
    /*margin-right:75%;*/
    background: #3c3c3b;
    width:15.354em;
    height: 100%;
    top: 0;
    left: 0px;
    padding-top: 2.2em;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2.2em;
    position: fixed;
    box-sizing: border-box; 
    /*transition:left 1s;
    -webkit-transition:left 1s;
    -moz-transition:left 1s;
    -o-transition:left 1s;
    -ms-transition:left 1s;*/
}
.sidebarMin{
    /*width: 200px;*/
    /*margin-right:75%;*/
    background: #3c3c3b;
    width:3.687em;
    height: 100%;
    top: 0;
    left: 0px;
    padding-top: 2.2em;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2.2em;
    position: fixed;
    box-sizing: border-box; 
    /*transition:left 1s;
    -webkit-transition:left 1s;
    -moz-transition:left 1s;
    -o-transition:left 1s;
    -ms-transition:left 1s;*/
}
#inferiorSidebar{
    position:absolute;
    bottom:1.8em;
    left: .05em;
    display: inline;
    box-sizing: border-box;
}
.liSubMenu{
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 15px;
}
.liMenu{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;   
}

.liInferior{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;   
}
#contraer{
    font-family: GothamMedium;
    position: absolute;
    bottom: 3.2em;
    left: 3em;
    display: inline-block;
}
#configuracion{
    font-family: GothamMedium;
    position: absolute;
    bottom: 0.8em;
    left: 3em;
}
#imagenContraer{
 position: absolute;
    bottom: -0.42em;
    left: -2.2em;   
}
#imagenExpandir{
 position: absolute;
    bottom:2.9em;
    left: 0em;   
}
#imagenConfig{
 position: absolute;
    bottom: -0.49em;
    left: -2.4em;   
}
#promociones{
    font-family: GothamMedium;
    position: absolute;
    top: 2.237em;
    left: 3.61em; 
}
#imgPromocionesBarra{
 position: absolute;
    top: -0.5em;
    left: -2.4em;
    cursor: pointer;    
}
#alimentos{
    position: absolute;
    font-family: GothamMedium;
    top: 5.4em;
    left: 3.61em;
    cursor: pointer;
    /*color: #4caf4c;*/ 
}
#imagenAlimentos{
 position: absolute;
    top: -0.5em;
    left: -2.4em;  
    cursor: pointer;  
}
#pizza{
    font-family: GothamMedium;
    position: absolute;
    top: 8.584em;
    left: 5.549em;
    /*color: #4caf4c; */
}
#imagenPizza{
 position: absolute;
    top: -0.5em;
    left: -2.4em;   
}
#otros{
    font-family: GothamMedium;
    position: absolute;
    top: 11.72em;
    left: 5.549em; 
}
#imagenOtros{
 position: absolute;
    top: -0.5em;
    left: -2.4em;   
}
#bebidas{
    font-family: GothamMedium;
    position: absolute;
    top: 14.824em;
    left: 5.549em; 
}
#imagenBebidas{
 position: absolute;
    top: -0.5em;
    left: -2.4em;

}
#miCarrito{
    font-family: GothamMedium;
    position: absolute;
    top: 18.053em;
    left: 3.61em; 
}
#carrito{
    position: absolute;
    top: 9.36em;
    left: 3.61em; 
    cursor: pointer; 
}
#imagenCarrito{
 position: absolute;
    top: -0.5em;
    left: -2.4em;   
}
img{
    width: 1.8em;
    height: 2em;   
}
#imagenConfigMin{
 position: absolute;
    bottom: -0.49em;
    left: -2.4em; 
    cursor: pointer;   
}
#imagenExpandir{
 position: absolute;
    bottom: 3em;
    left: 0.8em;
    cursor: pointer;  
}
.bandera{
  position: absolute;
  left: 30em;
  top: 20em; 
}

