#contenidoPagina{
    /*margin-left:25%;*/
}

#contenidoSuperior{ 
}
#linea{
    position: relative; 
    background: #e11a37;
    color: grey;
    margin-left: 25%;
}
#lineaDesplazamiento{
    position: absolute;
    top: 7.9em;
    left: 8em;    
    width: 35em;
    border: 0.14em solid #e11a37; 
    border-radius: 20em;  
    text-align: center; 
}
.circleLeft {
  position: absolute;
  left: 2.2em;
  top: 2.2em;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  font-size: 50px;
  color: #e11a37;
  line-height: 500px;
  text-align: center;
  background: #e11a37;
}
.circleRight {
  position: absolute;
  right: 6em; 
  top: 2.2em;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  font-size: 50px;
  color: #e11a37;
  line-height: 500px;
  text-align: center;
  background: #e11a37;
}
.circleCenter{
  position: absolute;
  left: 8em; 
  top: 2.2em;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  font-size: 50px;
  color: #e11a37;
  line-height: 500px;
  text-align: center;
  background: #e11a37;
}