.contentIngre{
	position: absolute;
	top:24.03em;
	left: 38.549em;
	box-sizing: border-box;
	width: 34.716em;
	height: 14.778em;
	padding: 1em;
	border: 1px solid red;

}
.caja1ingre{
	box-sizing: border-box;
	padding: 1em;
	border: 1px solid red;
	width: 100%;
	height: 100%;
	float: left;
	text-align: center;	
}
.caja8ingre{
	box-sizing: border-box;
	padding: 1em;
	border: 1px solid red;
	width: 50%;
	/*height: 33.33%;*/
	float: left;
	text-align: center;	
}
.caja16ingre{
	box-sizing: border-box;
	padding: 1em;
	border: 1px solid red;
	width: 33%;
	height: 16%;
	float: left;
	text-align: center;	
}
.caja24ingre{
	box-sizing: border-box;
	padding: 1em;
	border: 1px solid red;
	width: 25%;
	height: 16%;
	float: left;
	text-align: center;	
}


.pizzaimgMin{
	position: absolute;
	top: 25.032em;
	left: 2.862;
	
}
.imgPizzaMin{
	width: 34.422em;
	height: 16.568em;
}
.botonContinuarIngre{
	position: absolute;
  	top: 43.638em;
	left:46.54em;
  	width: 21.6em;
  	height: 2.8em;
  	color: white;
  	text-align: center;
  	border-radius: 0.5em;
  	border: none;
  	cursor: pointer;
  	background: #4caf4c;
}
.pRadio{
	font-family: GothamMedium;
	box-sizing: border-box;
	width: 85%;
	height: 100%;
	float: left;
	text-align: left;	
}
.radio{
	width: 15%;
	height: 100%;
	float: left;
	text-align: center;	
}