
#contenedorPrincipal{
  width: 96em;
  height: 100%;
}
.contenidoPaginaMin{
    position: absolute;
    top: 0;
    left: 15.354em;
    width: 80.46em;
    height: 100%;

}
.contenidoPaginaMax{
    position: absolute;
    top: 0;
    left: 3.687em;
    width: 92.312em;
    height: 100%; 
    margin-left: 5.86em;
    
}
.centradoMin{
    position: relative;
    width: 80.64em;
    height:100%;
    align-content: center;

}
.centradoMax{
    position: relative;
    width: 92.312em;
    height:100%;

}
#linea{
    
}
#lineaDesplazamiento{
  background: #e11a37;
  position: absolute;   
  top: 16.739em;
  left: 17.661em;  
  width: 46.26em;
  height: 0.3em;
  border: none;
    
}
.circleLeft {
  position: absolute;
  left: 17em;
  top: 16.012em;
  width: 1.8em;
  height: 1.8em;
  border-radius: 100%;
  color: #e11a37;
  line-height: 500px;
  text-align: center;
  background: #e11a37;
  cursor: pointer;
}
.tamMasa{
  font-family: GothamBold;
  position: absolute;
  width: 8em;
  top: 18.5em;
  left: 13.76em;
  color: #e11a37;
  text-align: center;
  text-decoration: underline;
  cursor: pointer; 
}
.circleRight {
  position: absolute;
  left: 63.248em;
  top: 16.012em;
  width: 1.8em;
  height: 1.8em;
  border-radius: 100%;
  color: #036591;
  line-height: 500px;
  text-align: center;
  background: #036591;
  cursor: pointer;
}
.salQueso{
  font-family: GothamBold;
  width: 8em;
  position: absolute;
  top: 18.5em;
  left: 37.8em;
  color: black;
  text-align: center;
  cursor: pointer; 
}
.circleCenter {
  position: absolute;
  top: 16.225em;
  left: 40.81em;
  bottom: 43.774em;
  right: 39.674em;
  width: 1.6em;
  height: 1.6em;
  border-radius: 100%;
  color: #036591;
  line-height: 500px;
  text-align: center;
  background: #036591;
  cursor: pointer;
}
.ingre{
  font-family: GothamBold;
 position: absolute;
  top: 18.5em;
  left: 61.202em;
  color: black;
  text-align: center;
  cursor: pointer; 
}
.textoTamano{
  font-family: GothamMedium;
 position: absolute;
  top:29.821em;
  left: 54.860em;
  color: black;
  text-align: left;
}
.selectTamano{
 position: absolute;
  top:28.728em;
  left: 61.893em;
  width: 14.2em;
  height: 2.8em;
  color: white;
  text-align: center;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  background: #036591;
  z-index: 101;
}
.textoMasa{
  font-family: GothamMedium;
  position: absolute;
  top:34.851em;
  left: 56.063em;
  color: black;
  text-align: left;
}
.selectMasa{
 position: absolute;
  top:34.046em;
  left: 61.893em;
  width: 14.2em;
  height: 2.8em;
  color: white;
  text-align: center;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  background: #036591;
}
.botonContinuarMasa{
 position: absolute;
  top:40.547em;
  left: 54.307em;
  width: 21.6em;
  height: 2.8em;
  color: white;
  text-align: center;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  background: #4caf4c;
}

#logo{
  position: absolute;
  top: 5.178em;
  left: 37.558em;
}
#imgLogo{
  width: 6.522em;
 height:6.164em;
}
.pizzaimgMax{
  position: absolute;
  left: 4.195em;
  top: 25.525em;
}
.imgPizzaMax{
  width: 42.62em;
  height: 20.515em;
}

.textoBoton{
  font-family: GothamMedium;
  text-align: center;
  padding-top: 0.944em;
}
.menuTam{
  box-sizing: border-box;
  position: absolute;
  top:22.728em;
  left: 61.893em;
  width: 14.2em;
  height: 10em;
  background: #036591;
  border-radius: 5%;
  z-index: 102;
  border: 1px solid;
  border-color: black;
  overflow-y: scroll;
}
.menuTipo{
  box-sizing: border-box;
  position: absolute;
  top:30.728em;
  left: 61.893em;
  width: 14.2em;
  height: 10em;
  background: #036591;
  border-radius: 5%;
  z-index: 102;
  border: 1px solid;
  border-color: black;
  overflow-y: scroll;
}
.menuSalsa{
  box-sizing: border-box;
  position: absolute;
  top:22.728em;
  left: 61.893em;
  width: 14.2em;
  height: 10em;
  background: #036591;
  border-radius: 5%;
  z-index: 102;
  border: 1px solid;
  border-color: black;
  overflow-y: scroll;
}
.menuQueso{
  box-sizing: border-box;
  position: absolute;
  top:30.728em;
  left: 61.893em;
  width: 14.2em;
  height: 10em;
  background: #036591;
  border-radius: 5%;
  z-index: 102;
  border: 1px solid;
  border-color: black;
  overflow-y: scroll;
}
.sombraMenuMin{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 15.354em;
  opacity: 0.3;
  background: grey;
  z-index: 101;
}
.sombraMenuMax{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left:3.687em;
  opacity: 0.5;
  opacity: 0.3;
  background: grey;
  z-index: 101;
}

.tamanoMasa{
  font-family: GothamMedium;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 3em;
  border-bottom: 0.01px solid cyan;
  cursor: pointer;
  color: white;
  text-align: center;
  padding-top: 1em;
  z-index: 101;
}
.tipoMasa{
  font-family: GothamMedium;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 3em;
  border-bottom: 0.01px solid cyan;
  cursor: pointer;
  color: white;
  text-align: center;
  padding-top: 1em;
  z-index: 101;
}
.tipoSalsa{
  font-family: GothamMedium;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 3em;
  border-bottom: 0.01px solid cyan;
  cursor: pointer;
  color: white;
  text-align: center;
  padding-top: 1em;
  z-index: 101;
}
.tipoQueso{
  font-family: GothamMedium;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 3em;
  border-bottom: 0.01px solid cyan;
  cursor: pointer;
  color: white;
  text-align: center;
  padding-top: 1em;
  z-index: 101;
}
